/src/test/java/

nbproject/

build/

nbbuild/

dist/

nbdist/

.nb-gradle/

.gradle
/build/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache
/src/main/java/tlog16rs/core/View/TimeLoggerUI.java
/src/main/java/tlog16rs/resources/Respond.java
/sonar-project.properties
/.scannerwork/